.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
  transition: all 0.2s;
}

.right__icons {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  right: 20px;
}

.nav__task-icon {
  width: 35px;
  object-fit: contain;
  padding-right: 20px;
  transition: all 0.2s;
  filter: invert(100%);
}

.nav__task-icon:hover {
  transform: scale(120%);
}

.nav__logo:hover {
  transform: scale(120%);
}

.nav__avatar {
  width: 30px;
  object-fit: contain;
  transition: all 0.2s;
}

.nav__avatar:hover {
  transform: scale(120%);
}
